VROOM_INTERSECTION_ID=hasselt-xl-a
VROOM_TRANSPORT=nats
VROOM_NATS_URL=nats://nats:4222
VROOM_HARDWARE_ADAPTER=mock
VROOM_GPIO_DRY_RUN=true
VROOM_PLC_DRY_RUN=true
VROOM_COMMUNICATION_TIMEOUT_MS=1500
VROOM_ALL_RED_DURATION_MS=1200
VROOM_FIXED_PHASE_DURATION_MS=12000
