MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_DATABASE=mydatabase
MYSQL_USER=vroom
MYSQL_PASSWORD=change-me-database-password
MYSQL_PORT=3310

NATS_PORT=4222
NATS_MONITOR_PORT=8222
NATS_AUTH_TOKEN=change-me-nats-token
VROOM_NATS_URL=nats://change-me-nats-token@nats:4222

REDIS_HOST=redis-prod
REDIS_PORT=6379
TZ=Europe/Brussels

VROOM_HARDWARE_ADAPTER=mock
VROOM_GPIO_DRY_RUN=true
VROOM_PLC_DRY_RUN=true
